.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.language-icons{
    height: 70px;
    width: 50px;
}

.terminal-color{
    background-color: black;
}

.node-color{
    color: #c90a00;
}

.local-color{
    color: #8ad414;
}

.server-ip-color{
    color: #729fcf;
}

.container-languages{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.social-container:hover{
    padding: 10px 10px 0px 10px;
    transform: scale(1.2);
}

.social-container a {
    margin: 10px;
}